.form{
  width: 35%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form__info{
  color: #59d9da;
  text-transform : uppercase;
  letter-spacing: 2px;
}

.form__input{
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}

.form__btn {
  background-color: rgb(67, 57, 202);
  padding: 20px;
  margin: 20px;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 1.05em;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}

.form__btn:hover{
  background-color: rgb(116, 101, 255);
}

#caution{
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

#caution img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

#caution p {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width:1300px){
  .form{
    width: 50%;
  }
}

@media only screen and (max-width:1000px){
  .form{
    width: 60%;
  }
}

@media only screen and (max-width:700px){
  .form{
    width: 80%;
  }
}